.aboutPage{
    width:80%;
    margin-left: auto;
    padding:0 20px;
    .aboutRetech{
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        color:#185199;
    }
    p{
        text-align: center;
    }
    h6{
        text-align: center;
        a{
            text-decoration: none;
        }
    }
}


@media screen and (max-width:768px){
    .aboutPage{
        width:100%;
    }
}