.adminDashboard {
    width: 80%;
    margin-left: auto;
    padding: 20px;

    .adminBoxes {
        color: #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        padding: 20px 0;

        span {
            font-size: 5rem;
            font-weight: 500;
        }

        h4 {
            font-size: 15px;
        }
    }

    .totalMobile {
        background-color: #37306B;

    }

    .totalRevenue {
        background-color: #0A2647;

    }

    .totalCustomer {
        background-color: #0F3460;

    }
    .pendingOrder {
        background-color: #16003B;

    }
    .completedOrder {
        background-color: #064663;

    }
}