.adminMobilesArea {
    padding: 20px;
    width: 80%;
    margin-left: auto;

    .tab-content::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .tab-content::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 6px #0000004d;
    }

    .tab-content::-webkit-scrollbar-thumb {
        background-color: #124D99;
        border-radius: 10px;
        /* outline: 1px solid slategrey; */
    }

    .tab-content {
        box-sizing: border-box;
        overflow-x: scroll;
        height: 68vh;
    }


    #nav-tab {
        border: none;

        button {
            border: none;
            border-bottom: 2px solid transparent;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            color: #777;
        }

        .active {
            border-bottom: 2px solid #124D99;
            border-radius: 2px;
            color: #124D99;
        }
    }

    h5 {
        font-size: 18px;
        font-weight: 500;
        color: #4b4b4b;
    }

    table {
        border-spacing: 15px;
        // border: 1px solid black;        
        padding: 5px 25px;
        // overflow-x: scroll;

        tr {
            &:nth-child(even) {
                background-color: #F1F1F1;
            }

            th {
                // border: 1px solid black;
                padding: 5px 25px;
                text-align: center;

                // &:nth-child(2) {
                //     text-align: left;
                // }
            }

            td {
                // border: 1px solid black;
                padding: 0 20px;
                text-align: center;
                color: #777777;
                font-size: 14px;
                font-weight: 500;  
                a{
                    color:#777777;
                    text-decoration: none;
                } 
                &:first-child{
                    text-align: left;
                }             
                .serial {
                    font-size: 14px;
                    padding-right: 10px;
                }

                span {
                    font-size: 20px;
                    cursor: pointer;
                }

                .activeStatus {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .activeIcon {
                        height: 8px;
                        width: 8px;
                        background-color: green;
                        margin-right: 5px;
                        border-radius: 50%;
                        margin-top: 3px;
                    }

                    .pauseIcon {
                        height: 8px;
                        width: 8px;
                        background-color: #3f3f3f;
                        margin-right: 5px;
                        border-radius: 50%;
                        margin-top: 3px;
                    }
                }

                .deletIcon {
                    color: crimson;
                    padding-left: 5px;
                }

                .completeIcon {
                    color: green;
                }

                // &:nth-child(2) {
                //     text-align: left;
                // }

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    // border: 1px solid #4b4b4b;
                }
            }
        }
    }

    .mobileTable {
        min-width: 100vw;
        overflow-x: scroll;
    }

    .completedorderdiv {
        min-width: 75vw;
        overflow-x: scroll;
    }

    .cutomersTable {
        min-width: 70vw;
        overflow-x: scroll;
        height: 70vh;

        table {
            width: 90vw;            
        }
    }

    .adminmobileDiv {
        height: 70vh;
        overflow-x: hidden;

        table {
            width: 75vw;
        }
    }

    .cutomersTable::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .cutomersTable::-webkit-scrollbar-track {
        // box-shadow: inset 0 0 6px #0000004d;
    }

    .cutomersTable::-webkit-scrollbar-thumb {
        background-color: #124D99;
        border-radius: 10px;
        /* outline: 1px solid slategrey; */
    }
}