.addmobileArea {
    padding: 20px;    
    width: 80%;
    margin-left: auto;

    .addmobileBtn {
        background-color: #124D99;
        color: #dcdcdc;
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 8px 10px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        text-decoration: none;
        text-align: center;
        width: 40%;
    }

    .loading {
        background-color: #1d3555c7;
        pointer-events: none;
    }

    .inputImagesIcon {
        font-size: 40px;
        cursor: pointer;
        color: #6a6a6a;
    }

    #fileInput {
        display: none;
    }

    .imgUploadBox {
        display: flex;
        align-items: center;

        .selectFiveText {
            font-size: 13px;
            margin-left: 10px;
            margin-top: 8px;
        }
    }
}