.addmobileArea{
    padding:20px;
    width:70%;
    
    .addmobileBtn{
        background-color: #124D99;
        color: #dcdcdc;
        border: none;
        outline: none;
        border-radius: 3px;
        padding: 8px 10px;
        display: block;
        margin-top: 15px;
        text-decoration: none;
        text-align: center;
        width: 40%;
    }
    .inputImagesIcon{
        font-size: 40px;
        cursor: pointer;
    }
    #fileInput{
        display: none;
    }
}