.mainDashboard{
    width:80%;
    margin-left: auto;
    padding: 2rem 0;
    .filterarea{
        position: fixed;
        width:80%;
        margin-left: auto;
        top:7rem;
        background-color: #fff;
        z-index: 1;
        h4{
            font-size: 20px;            
        }
        display: flex;
        align-items: center;
        padding-bottom:20px;
        padding-left:50px;
        span{
            font-size: 15px;
            padding:0 5px;
        }
        select{
            border:1px solid #dcdcdc;
            font-size: 14px;
            padding:5px;
            outline: none;
            border-radius: 3px;
            margin:0 5px;
        }
        .filterBtn{
            background-color: #124D99;
            color:#dcdcdc;
            border:none;
            outline: none;
            border-radius: 3px;
            padding:4px 10px;
            margin-left: 10px;
        }
    }
}